# OSX
.DS_Store

# NPM
/node_modules
npm-*

# Localization / I18N
common.pyc
.settings
.project
*.pyc
*.komodoproject
/nbproject/private/


# Editor
.vscode

# Chromedriver
LICENSE.chromedriver

/accessible/*
/dist
/msg/js/*
!/msg/js/en.js
/msg/json/*
!/msg/json/en.json

/gh-pages/main.js
/gh-pages/playgrounds
/gh-pages/Gemfile.lock
/gh-pages/closure-library
/gh-pages/_site
/*compiler*.jar
/local_blockly_compressed_vertical.js
/chromedriver
